[Unit]
Description=SSH agent proxy connection
CollectMode=inactive-or-failed

[Service]
Type=simple
ExecStart=/usr/bin/ssh-agent-proxy
SuccessExitStatus=255
StandardInput=socket
StandardOutput=socket
StandardError=journal
